#map {
    height: 100%;
    width: 100%;
}

:root {
    --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
    background-color: black;
}

img {
    margin-top: -2rem;
    margin-bottom: -4rem;
}

@media (prefers-color-scheme: dark) {
    .map-tiles {
        filter:var(--map-tiles-filter, none);
	}
}


h3 {
      display: flex;
      justify-content: center;
      padding-left: 150%;
      padding-right: 150%;
      padding-top: 50%;
      padding-bottom: 50%;
      border-radius: 20%;
      background-color: rgb(115, 61, 149);
      font-size: small !important;
      font-family: Arial, Helvetica, sans-serif !important;
      color: white;
  }

.leaflet-control-container { position: absolute; top: 10vh} 