#page-container {
    margin-left: 20vw;
    margin-top: 10vh;
    margin-bottom: 15vh;
    width: 60vw;
    /* height: 70vh; */
    outline: 4px inset;
    outline-offset: 15px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}